<div>
    <div>
        <h1 class="title message">The Arborist's Garden</h1>
    </div>
    <div class="center deathoverlay">
        <h1 class="death">DEATH</h1>
        <h2 class="death">Blood stains the ground as you fall into the soft grass.</h2>
        <a class="button" id="retry">Retry Stage</a>
    </div>
    <div class="center victoryoverlay">
        <h1 class="victory">VICTORY</h1>
        <h2 class="victory">Blood stains the ground as you fall into the soft grass.</h2>
        <a class="button" id="continue">Next Stage</a>
        <a class="button" id="mainmenu" hidden>Main menu</a>
    </div>
    <div class="barcontainer">
        <div id="health" class="bar" style="height: {{ health }}%;">
            <div class="health"></div>
            <div class="barheader">HP</div>
        </div>
        <div id="mana" class="bar" style="height: {{ mana }}%;">
            <div class="mana"></div>
            <div class="barheader">MANA</div>
        </div>
    </div>
</div>