<div>
    <div>
        <h1 class="title">The Tertielemental Wizard</h1>
        <h2 class="main">A journey to Great Thunder Mountain to sharpen your magic skills.</h2>
        <a class="button main" id="start">Start Game</a>
    </div>
    <div class="instructions">
        <h2>Instructions</h2>
        <p>Use the arrow keys to move. (Including up to jump)</p>
        <p>Hold Z to cast fire beam.</p>
        <p>Press X to cast ice cone.</p>
        <p>Press C, aim, and release to cast earth mortar.</p>
    </div>
    <div class="credits">
        <h2>Credits</h2>
        <p>Ethan Tucker (<a href="https://ldjam.com/users/ectucker1">@ectucker1</a>): Programming, Design, Art</p>
        <p>Ben Crocker: Sound, Design</p>
        <p>Jaren Mueller: Art, Design</p>
        <p>Jake Moeller (<a href="https://ldjam.com/users/jbomb57">@jbomb57</a>): Art, Design</p>
    </div>
</div>