@import url('https://fonts.googleapis.com/css?family=Bellefair|Julee');

html, body {
	color: White;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Bellefair', serif;
    background: #eec39a;
    color: black;
}
h1 {
    font-family: 'Julee', cursive;
}

canvas.fullscreen {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
	overflow: hidden;
}

div.overlay {
	position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin: auto;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

div.credits {
    background: #eec39a;
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    padding: 0.5em;
}
div.instructions {
    background: #eec39a;
    position: absolute;
    left: 0;
    bottom: 0;
    color: black;
    padding: 0.5em;
}

h1.title {
    font-size: 250%;
    margin: 48px;
}
a.button {
  font-size: 200%;
}
a.button:hover {
  color: #45283c;
}
.main {
    margin: 48px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.deathoverlay {
    -webkit-transition: transform 2s, top 2s;
    transition: transform 2s, top 2s;
    transform: translate(-50%, -100%);
    top: 0%;
}
h1.death {
    font-size: 400%;
}
h2.death {
    font-size: 200%;
}

.victoryoverlay {
    -webkit-transition: transform 2s, top 2s;
    transition: transform 2s, top 2s;
    transform: translate(-50%, -100%);
    top: 0%;
}
h1.victory {
    font-size: 400%;
}
h2.victory {
    font-size: 200%;
}

div.barcontainer {
    height: 33%;
    width: 10%;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

div.barheader {
    background: #9badb7;
    color: black;
    opacity: 1.0;
    height: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
div.bar {
    width: 46%;
    display: inline-block;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}
div.health {
  background: #ac3232;
  opacity: 0.5;
  height: calc(100% - 1em);
  bottom: 0;
  position: absolute;
  bottom: 1em;
  width: 100%;
}
div.mana {
  background: #76428a;
  opacity: 0.5;
  height: calc(100% - 1em);
  bottom: 0;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

div.fadeout {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s;
    pointer-events: none;
}

h1.message {
    position: relative;
    transform: translate(0%, -200%);
    transition: transform 3s;
}